/* BASE STYLES */

body {
  background-color: #ffebec;
}

.container {
  background-color: #ffebec;
}

.card {
  background-color: #ffebec;
  border: none;
}

h2 {
  font-family: "Shrikhand", cursive;
  margin: 25px 0;
  padding: 25px 10px;
  text-transform: uppercase;
  color: #ff4901;
}

h2.page-title {
  font-family: "Shrikhand", cursive;
  margin: 45px 0;
  padding: 25px 10px;
  text-transform: uppercase;
  color: #ff4901;
  border-bottom: 3px solid rgba(143, 164, 36, 0.671);
}

h3 {
  font-family: "Inconsolata";
  margin: 45px 0;
  padding: 25px 10px;
  text-transform: uppercase;
  color: #ff4901;
  text-align: center;
}

h5 {
  font-family: "Inconsolata";
  text-transform: uppercase;
  color: #a85a34;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
}

a,
.portfolio-title {
  font-family: "Inconsolata";
}

/* NAV BAR STYLES */

nav .navbar-nav.active {
  color: #f5979c;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

a {
  color: #f5979c;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}

.active {
  color: #ff4901;
}

nav a:hover {
  color: #ff4901;
}

.navbar-brand span {
  color: #fee5e7;
  background-color: #ff4901;
  padding: 15px 10px;
}

.d-inline {
  display: inline !important;
  border-bottom: none;
}

.pb-3,
.py-3 {
  padding-bottom: 15px !important;
}
.pt-3,
.py-3 {
  padding-top: 15px !important;
}

/* HOMEPAGE STYLES */

.main-work {
  width: auto;
  width: 100%;
}

.icon-pic {
  height: 100px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}

.profile-pic {
  width: 300px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px 10px;
}

.intro-para {
  font-size: 24px;
  font-weight: 600;
  color: #ff4901;
}

.mid-para {
  font-size: 24px;
  color: #ff4901;
  font-weight: 400;
}
.sub-para {
  font-size: 24px;
  color: #ff4901;
  font-weight: 200;
}

/* ABOUT ME */

.profile-pic {
  width: 300px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px 10px;
}

/* PORTFOLIO */

.projects-gif {
  width: 300px;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

.portfolio-title {
  font-family: "Inconsolata";
  color: #a85a34;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 5px;
  z-index: 1;
  top: -120px;
  background-color: #ffb9af;
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 40px;
}

.portfolio img {
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0;
}

.portfolio-text-container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.featurette-divider {
  border-bottom: 1px solid rgba(143, 164, 36, 0.671);
}

.portfolio-list-item {
  width: 450px;
  margin-top: 15px;
}

/* BLOG ARCHIVE STYLES */
.blog-header {
  background-image: url(../img/styling-1.jpg);
  background-repeat: no-repeat;
}

.card-footer {
  margin-bottom: 45px;
}

.project-button {
  background-color: #ff4901 !important;
  color: #ffd2d4 !important;
  border-radius: 0;
  border-color: #ff4901;
  text-decoration: none;
  font-size: 16px;
}

.project-button:hover {
  background-color: #ffd2d4 !important;
  color: #ff4901 !important;
  border-radius: 0;
  border-color: #ffd2d4 !important;
  text-decoration: none;
  font-size: 16px;
}

/* CONTACT */

form {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(216, 143, 33);
}

.btn,
.portfolio-link {
  background-color: #ffbbbe;
  border-color: #ffbbbe;
  border-radius: 0;
  color: #ff4901;
  margin: 40px 0;
}

.btn:hover {
  background-color: #ff4901;
  color: #ffd2d4;
  border-radius: 0;
  border-color: #ff4901;
}

/* FOOTER */

.footer-pic {
  z-index: -1;
  width: 250px;
}

.footer-cta {
  z-index: 4;
}
footer .container {
  width: auto;
  width: 100%;
  margin: 170px 0 0;
  padding: 0 15px;
  background-color: #ff4901;
}

footer {
  color: #faebec;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

footer p {
  color: #faebec;
}

#sticky-footer {
  flex-shrink: none;
}

.social-icon {
  height: 30px;
  margin: 20px 10px;
}

.social-icons-container {
  text-align: center;
}

/* MEDIA QUERIES - MOBILE */

@media (max-width: 576px) {
  .nav-link {
    text-align: center !important;
    margin: 10px 10px 10px 30px;
    /* padding: 2px 2px; */
  }
  .navbar-brand {
    margin: 0;
    background-color: #ff4901;
    text-align: center !important;
    padding: 0;
  }
  .navbar-brand span {
    color: #fee5e7;
    background-color: #ff4901;
    padding: 10px 10px;
  }
}
